/*  
Theme Name: GlossyBlue
Description: WP glossy theme designed by <a href="http://www.ndesign-studio.com/">N.Design Studio</a>.
Author URI: http://itapplication.net
*/
body {
	font: 75%/150% "Trebuchet MS", Tahoma, Arial;
	color: #333333;
	background: #FFFFFF url(images/main-bg.gif);
	margin: 0px;
	padding: 0px 0px 40px;
}
a {
	color: #CC6600;
	text-decoration: none;
}
a:visited {
	color: #CC6633;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration: underline;
}
img {
	border: none;
}
p {
	padding: 0px 0px 15px;
	margin: 0px;
}
h1 {
	margin:0px;
	background: url(images/header-icon.png) no-repeat;
	padding-left: 70px;
	min-height: 60px;
	font: bold 36px/100% "Trebuchet MS", Tahoma, Arial;
	color: #c9eefe;
}
h1 a, h1 a:visited{
	color: #c9eefe;
	text-decoration: none;
}
h1 a:hover{
	color: #ffffff;
	text-decoration: none;
}
h2 {
	color: #59770e;
	margin: 0px 0px 2px;
	border-bottom: 1px dotted #CCCCCC;
	letter-spacing: -1px;
	font: normal 190%/100% "Trebuchet MS", Tahoma, Arial;
	padding-bottom: 3px;
}
h2 a, h2 a:visited {
	color: #59770e;
	text-decoration: none;
}
h2 a:hover {
	color: #FF6600;
	text-decoration: none;
}
h3 {
	font: normal 140%/100% "Trebuchet MS", Tahoma, Arial;
	color: #758d38;
	margin: 10px 0px 5px;
}
h4 {
	font: normal 130%/100% "Trebuchet MS", Tahoma, Arial;
	color: #758d38;
	margin: 10px 0px 5px;
}
form {
	margin:0px;
	padding:0px;
}
.tabs {
    border-bottom: 1px dashed #1E9ADA;
    margin: 15px 25px 5px 5px;
}

/**** Drupal elements ****/
#page {
	margin: 0px auto;
	width: 760px;
	border-bottom: 5px solid #d5e6eb;
	border-left: 5px solid #d5e6eb;
	border-right: 5px solid #d5e6eb;
	background: #FFFFFF url(images/content-bg.gif) repeat-y;
}
#header {
	background: url(images/header-bg.png) repeat-y top center;
	border-bottom: 3px solid #59780a;
	position: relative;
}
#header .inner {
	background: url(images/header-bg.jpg) no-repeat top center;
}
#headerimg {
	padding: 10px 0px 0px 40px;
}
#headerimg .description{
	color: #c9eefe;
	font-size: 14px;
}
#nav {
	list-style: none;
	margin: 0px;
}
#nav ul {
    margin: 0;
}
#nav li {
	float: left;
	margin-left: 5px;
	list-style: none;
	margin-top: 15px;
}
#nav li a.active{
	color: #000000;
}
#nav li a{
	color: #ffffff;
	text-decoration: none;
	background: #5c8d0c url(images/nav-button-bg.gif) repeat-x;
	padding: 5px 11px;
	font: bold 14px/100% Arial, Helvetica, sans-serif;
	border-top: 1px solid #E6EED0;
	border-left: 1px solid #AFCD69;
	border-right: 1px solid #AFCD69;
	display: block;
}
#nav li a:hover {
	color: #000000;
}
#content {
	padding: 10px 0px 30px 13px;
	float: left;
	width: 492px;
	overflow: hidden;
}
.post {
	clear:both;
	padding-top: 10px;
}
.post-date {
	width: 45px;
	height: 49px;
	float:left;
	background: url(images/date-bg.gif) no-repeat;
}
.post-month {
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display:block;
	line-height: 11px;
	padding-top: 2px;
	margin-left: -3px;
}
.post-day {
	font-size: 18px;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 18px;
	padding-top: 7px;
	margin-left: -3px;
}
.entry {
	float:right;
	width: 438px;
}
.post-cat {
	background: url(images/mini-category.gif) no-repeat left center;
	padding-left: 20px;
	float:left;
	font-size: 95%;
	color: #999999;
}
.post-comments {
	background: url(images/mini-comments.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
}
.post-calendar {
	background: url(images/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
	color: #999999;
}
.post-content {
	clear: both;
	padding-top: 10px;
}
.pager {
	clear: both;
	padding: 10px 0px;
}
.pager-list a, .pager a:visited {
	color: #59770e;
}
#comments, #respond {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
}
.commentlist {
	margin: 10px 0px;
	padding-left: 20px;
	line-height: 130%;
}
.commentlist li{
	padding: 5px 10px;
}
.commentlist .even {
	background: #f1fedb;
}
.commentlist cite, .commentlist cite a, .commentlist cite a:visited {
	font-weight: bold;
	font-style: normal;
	font-size: 1.2 em;
	color: #CC6600;
}
.commentlist small {
	margin-bottom: 5px;
	display: block;
	font-size: 87%;
}
form {
	font: 110% Arial, Helvetica, sans-serif;
}

form label{
	color: #;
	font-size: 87%;
}
form input{
	background:#f1fedb;
	border: 1px solid #bdd77f;
	padding: 3px;
	margin-top: 3px;
}
form textarea{
	height: 115px;
	background:#f1fedb;
	border: 1px solid #bdd77f;
	padding: 2px;
	margin-top: 3px;
}
form textarea:focus, form input[type="text"]:focus {
	background: #ffffff;
}
form input[type="submit"] {
	background: url(images/btn-bg.gif) no-repeat;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border: none;
	float:none;
	width: 144px;
	height: 28px;
	cursor: pointer;
}

/*sidebar */
#sidebar-right {
	float: right;
	padding: 0px 10px 20px 0px;
	width: 220px;
	color: #666666;
	overflow: hidden;
}
/*sidebar title (h2) */
#sidebar-right h2, #sidebar-right .sidebartitle{
	font: normal 140%/100% "Trebuchet MS", Tahoma, Arial;
	color: #758d38;
	margin: 20px 0px 2px;
	border-bottom: 1px solid #CFE1AC;
}
/*sidebar text styles */
#sidebar-right a, #sidebar-right a:visited{
	color: #495233;
	text-decoration: none;
}
#sidebar-right a:hover{
	color: #FF6600;
	text-decoration: none;
}
/*sidebar list level1 */
#sidebar-right ul {
	margin: 0;
	padding: 0;
}
#sidebar-right ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
/*sidebar list level2 */
#sidebar-right ul li ul {
	padding: 0;
	margin: 0;
}
#sidebar-right ul li ul li{
	padding: 2px 0 2px 0px;
	border-bottom: 1px solid #dceeb7;
}
/*sidebar list level3 */
#sidebar-right ul li ul li ul li{
	padding: 1px 0 1px 10px;
	border: none;
}
/*search form */
#search-theme-form {
	margin: 12px 0 0 0;
	padding: 0 0 0 0;
}
#search-theme-form input[type="text"] {
	border:1px solid #203346;
	width: 135px;
	height: 22px;
	padding: 4px 5px 0px 5px;
	border: 1px solid #bed881;
	background: #fff;
	margin: 0 2px 0 0;
	color: #000000;
	font-weight: normal;
}
#search-theme-form input[type="submit"] {
	background: url(images/search-btn-bg.gif) no-repeat;
	border: none;
	margin: 0 0 0 0;
	width: 67px;
	height: 26px;
	float: none;
}
#credits {
	margin: 0px auto;
	width: 760px;
	color: #7a9299;
	font-size: 85%;
	line-height: 120%;
}
#credits a, #credit a:visited{
	color: #048db4;
}
.center {
	text-align: center;
}
img.center, a img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.center {
	border-color: #FF6600;
	background: #FF6600;
}
.alignleft {
	float: left;
}
img.alignleft, a img.alignleft {
	float:left;
	margin: 4px 10px 5px 0px;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.alignleft{
	border-color: #FF6600;
	background: #FF6600;
}
.alignright {
	float: right;
}
img.alignright, a img.alignright {
	float:right;
	margin: 4px 10px 5px 0px;
	border: 1px solid #D5E6AC;
	padding: 3px;
	background: #FFFFFF;
}
a:hover img.alignright{
	border-color: #FF6600;
	background: #FF6600;
}
.clear {
	clear:both;
}
hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}

#block-comment-0 li {
	background: url(images/mini-recent-comments.gif) no-repeat left top;
	padding-left: 20px !important;
}


#block-user-2 a, #block-user-3  {
	background: url(images/mini-loginout.gif) no-repeat left center;
	padding-left: 20px !important;
}

.block-user form input[type="submit"] {
float:none;
margin-bottom: 10px;
}

.block-user .item-list ul li {
background-image: none;
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}

ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}

ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em ! important;
  border: none ! important;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

ul.menu li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul.menu li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
  display: block;
}